:root {
    --pico-font-family: 'Fira Sans', serif; /* Override PicoCSS font */
    --pico-font-weight: 400;
}

h1 {
    --pico-font-family: 'Bona Nova SC', serif; 
    text-align: center; /* Center the heading */
    font-size: 5em;
    font-weight: 100;

}

.title-wrapper{
    height: 60%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.header-wrapper{
    margin: 2%;
}
.header-left{
    float: left;
}

.header-right{
    text-align: right;
    float: right;
}