$brand-color: rgb(255, 255, 242);
$highlight: lighten($brand-color, 35%);
$text-color: hsl(0, 0%, 28%);
$muted-text-color: #64644b;
$font-family: "Open Sauce Sans";
$heading-font-family: "Bona Nova SC", "Times New Roman", serif;
$on-bigphone: 375px;
$on-tablet: 768px;
$on-laptop: 960px;
$on-desktop: 1200px;
$max-width: 60ch;
$padding-sides: 24px;
